<p id="notice"><%= notice %></p>

<%= link_to 'Back', @notebook, class: 'btn btn-light mb-3' %>
<h3>
  <%= @page.title %>
  <%= link_to 'Edit', edit_notebook_page_path(@notebook, @page), class: 'btn btn-outline-primary' %>
</h3>
