$theme-color: "cyan";

body {
  background-color: mcolor($theme-color, "lighten-5");
}


.top-stripe {
  background-color: mcolor($theme-color, "darken-4");
  width: 100%;
  height: 20px;
}
.toolbar {
  background-color: mcolor($theme-color, "darken-3");
  width: 100%;
  height: 40px;
}